.App {
  text-align: center;
  overscroll-behavior: none;
  overflow: hidden;
}
::-webkit-scrollbar {
  display: none;
}
@font-face {
  font-family: 'Satoshi Variable';
  src: url('../src/assets/satoshi.ttf') format('truetype');
}
.Applogo {
  height: 40vmin;
  position: relative;
  pointer-events: none;

}
.App-header {
  background-color: #ffffff;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}