.App {
  text-align: center;
  overflow-x: hidden;
  overscroll-behavior: none;
  overflow-y: hidden;
  
}
@font-face {
  font-family: 'Satoshi Variable';
  src: url('../src/assets/satoshi.ttf') format('truetype');
}
.Applogo {
  height: 40vmin;
  position: relative;
  pointer-events: none;

}
.cursor{
  width: 20px;
  height: 20px;
  border: 2px solid #fff;
  mix-blend-mode: exclusion;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%,-50%);
  border-radius: 50%;
  z-index: 500;
}

@media (prefers-reduced-motion: no-preference) {
  .Applogo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.row{
  display: grid ;
  grid-template-columns: repeat(3,1fr);
}
.App-header {
  background-color: #ffffff;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
