.header{
    display: flex;
    flex-direction: row;
    margin-left: 5vw;
    gap:0.5vw;
    position: absolute;
    top: 5%;
}
.landing-container{
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.landing-img{
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
}
.header-text{
    color: #FFF;
    font-family: Satoshi, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: -1.36px;
}
.esmi{
    position: absolute;
    top: 30%;
    margin-left: 5vw;
}
.esmi-lakab{
    color: #FFF;
    font-family: Satoshi, sans-serif;
    font-size: 100px;
    font-style: italic;
    text-align: left;
    font-weight: 400;
    line-height: 0;
}
.esmi-esm{
    color: #FFF;
    font-family: Satoshi, sans-serif;
    font-size: 90px;
    text-align: left;
    font-style: italic;
    font-weight: 400;
    line-height: 0;
}