.header{
    display: flex;
    flex-direction: row;
    margin-left: 6vw;
    gap:0.5vw;
    position: absolute;
    top: 5%;
}
.header-logo{
    scale: 0.9;
}
.landing-container{
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.overlay{
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
    visibility: visible;
    top: 0;
    right: 0;
}

.landing-img{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 70% 50%;
    top: 0;
    right: 0;
}
.header-text{
    color: #FFF;
    font-family: "Satoshi Variable", sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
}
.esmi{
    margin-left: 1vw ;
    gap: 3svh;
    transition-duration: 0.1s;
}
.esmi-lakab{
    color: #FFF;
    font-family: "Satoshi Variable", sans-serif;
    font-size: 18svw;
    text-align: left;
    margin: 0%;
    line-height: 1;
    font-weight: 600;
}
.esmi-esm{
    color: #FFF;
    font-family: "Satoshi Variable", sans-serif;
    font-size: 18svw;
    text-align: left;
    font-weight: 600;
    margin: 0;
    line-height: 1;
}
.desc-star{
    height: 4svw;
}
.desc-text{
    color: #FFF;
    text-align: left;
    margin: 0;
    font-family: "Satoshi Variable", sans-serif;
    font-size: 9svw;
    font-style: normal;
    font-weight: 400;
}

.role{
    display: flex;
    flex-direction: row;
    height: min-content;
    gap:0.5vw;
    margin-top: 0;
    transition-duration: 0.1s;
}
.social-container{
    margin-top: 1rem;
    padding: 1vw;
    width: min-content;
    height: min-content;
    transition-duration: 0.1s;
}
.socials{
    display: flex;
    width: min-content;
    flex-direction: row;
    position: relative;
    padding: 10px 10px;
    justify-content: space-between;
    align-items: center;
    gap:5svw ;
    border-radius: 56px;
    border: 3px solid rgba(255, 255, 255, 0.06);
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(45px);
}
.social-icon{
    position: relative;
    pointer-events: none;
    width: 2.5rem;
}

.content{
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 1svh;
    top:45svh;
    left:5vw;
}
/* icons are not well adjusted */
@media (max-height: 700px) {
    .content{
        position: absolute;
        display: flex;
        flex-direction: column;
        gap: 0svh;
        top:40svh;
        left:5vw;
    }
    
}

@media (min-width: 520px) {
    .landing-img{
        position: absolute;
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: 70% 0%;
        top: 0;
        right: 0;
    }
    .desc-star{
        height: 1rem;
    }
    .socials{
        gap: 2vw;
    }
    .content{
        position: absolute;
        top:45svh;
        left:5vw;
        padding: -5vh;
    }
    
    .esmi-lakab{
        color: #FFF;
        font-family: "Satoshi Variable", sans-serif;
        font-size: 15svw;
        text-align: left;
        font-weight: 600;
    }
    .esmi-esm{
        color: #FFF;
        font-family: "Satoshi Variable", sans-serif;
        font-size: 11svw;
        text-align: left;
        font-weight: 600;
    }
    .desc-text{
        color: #FFF;
        text-align: left;
        margin: 0;
        font-family: "Satoshi Variable", sans-serif;
        font-size: 6svw;
        font-style: normal;
        font-weight: 400;
    }
}
@media (min-width: 850px) {
    .esmi-lakab{
        color: #FFF;
        font-family: "Satoshi Variable", sans-serif;
        font-size: 12svw;
        text-align: left;
        font-weight: 600;
    }
    .esmi-esm{
        color: #FFF;
        font-family: "Satoshi Variable", sans-serif;
        font-size: 10svw;
        text-align: left;
        font-weight: 600;
    }
    .desc-text{
        color: #FFF;
        text-align: left;
        margin: 0;
        font-family: "Satoshi Variable", sans-serif;
        font-size: 5svw;
        font-style: normal;
        font-weight: 400;
    }
}
@media (min-width: 1024px) {

    .socials{
        gap: 0.8vw;
    }
    .desc-star{
        height: 2rem;
    }
    .social-icon{
        position: relative;
        pointer-events: none;
        width: 3rem;
    }
    
    .esmi-lakab{
        color: #FFF;
        font-family: "Satoshi Variable", sans-serif;
        font-size: 7rem;
        text-align: left;
        font-weight: 600;
    }
    .esmi-esm{
        color: #FFF;
        font-family: "Satoshi Variable", sans-serif;
        font-size: 6rem;
        text-align: left;
        font-weight: 600;
    }
    .desc-text{
        color: #FFF;
        text-align: left;
        margin: 0;
        font-family: "Satoshi Variable", sans-serif;
        font-size: 3rem;
        font-style: normal;
        font-weight: 400;
    }
}
@media (min-width: 1400px) {
    .overlay{
        height: 100%;
        width: 100%;
        position: absolute;
        background-color: rgba(0, 0, 0, 0);
        top: 0;
        right: 0;
    }
}